*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , 'sans-sarif';
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff ;
}

#header
{
    width: 100%;
    height: 100vh;
    background-image: url(img1.jpg);
    background-position:right center;
    background-size: 50%;
    background-repeat: no-repeat;

}
.container
{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px  60px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #75B9BE;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after
{
    width: 100%;
}

.header
{
    margin-top: 20%;
    font-size: 30px;
}

.header h1
{
    font-size: 60px;
    margin-top: 20px;
}

.header h1 span
{
    color: #75B9BE;
}

/* -------------- about -----------------*/
#about
{
    padding: 50px 0;
    color: #ababab;
}

.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1
{
    flex-basis: 35%;
}

.about-col1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col2
{
    flex-basis: 60%;
}

.subtitle
{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

/* -------------- education and experience -----------------*/

.container1{
	width: 100%;
	padding: 35px 10%;
}
.container1{
	padding-right: calc(10% - 30px);
}
main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.col header.title{
	color: #75B9BE;
	padding: 0px 0px 20px 30px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
	border: 1px solid transparent;
}
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #75B9BE;
	border: 2px solid white;
}
.box h4{
	position: relative;
	color: #75B9BE;
}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: #444;
}
.box p{
	line-height: 1.2;
	color: #666;
	font-size: 17px;
}


/* -------------- skills and languages -----------------*/
.skill{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    list-style: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.skill li{
    margin: 20px 0;
    padding: 10px;
}

.skill h3{
    margin: 5px;
}

.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) ;
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(142, 202, 207) 0%, rgb(31, 189, 203) 100%);

}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 70%;
    animation: css 3s;
}


.javascript{
    width: 60%;
    animation: javascript 3s;
}

.react{
    width: 70%;
    animation: react 3s;
}


.php{
    width: 60%;
    animation: php 3s;
}


@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

/* ------------- contact ---------------------*/

.contact-left
{
    flex-basis: 35%;

}

.contact-right
{
    flex-basis: 60%;
    
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #75B9BE;
    margin-right: 15px;
    font-size: 25px;
}

.btn.btn2
{
    display: inline-block;
    background: #75B9BE ;
}

.contact-right form{
width: 100%;
}

form input, form textarea
{
    width: 100%;
    border: 0;
    outline: none ;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 6px;
    color: #fff;
}

/* ------------- FOOTER ---------------------*/
.footer {
    background-color: black;
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: .1rem solid rgba(255, 255, 255, .3);
    margin: .3rem;
    border-radius: 50%;
}
.footer .share a:hover{
    background-color: #75B9BE;
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: .1rem solid rgba(255, 255, 255, .3);
    font-size: 2rem;
}
.footer .links a:hover{
    background-color: #ff004f;
}
.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1rem;
}
.footer .credit span{
    color: #75B9BE;
}

/* ------------- responsiveness ---------------------*/
nav .fas{
    display: none;
}
@media  only screen and (max-width: 600px)
    {
        .header-text
        {
            margin-top: 100%;
            font-size: 16px;
        }
        .header-text h1{
            font-size: 30px;
        }

        nav .fas{
            display: block;
            font-size: 25px;
        }
        nav ul{
            background: #75B9BE;
            position: fixed;
            top: 0;
            right: -200;
            width: 200px;
            height: 100vh;
            padding-top: 50px;
            z-index: 2;
            transition: right 0.5s ;

        }
        nav ul li{
            display: block;
            margin: 25px;
        }

        nav ul .fas{
            position: absolute;
            top: 25px;
            left: 25px;
            cursor: pointer;
        }

        .subtitle{
            font-size: 40px;
        }
        .about-col-1 , .about-col-2{
            flex-basis: 100%;
        }
        
        .about-col-1{
            margin-bottom: 30px;
        }
        .contact-left , .contact-right{
            flex-basis: 100%;
        }

        main.row{
            grid-template-columns: 1fr;
        }
        .row .col:nth-child(2){
            margin-top: 30px;
        }

    }
    @media screen and (max-width: 768px) {
        .skill {
            margin: 40px auto;
        }
    }
    
    @media screen and (max-width: 576px) {
        .skill {
            padding: 15px;
        }
    }